<div class="flex flex-col gap-4">
  <h1 class="text-3xl font-bold">DnD Spells</h1>

  <div>
    <ul>
      <% @dnd_spells.each do |spell| %>
        <li><%= spell.name %></li>
      <% end %>
    </ul>
  </div>
</div>
